    @font-face{
        font-family:"Joystix W05 Proportional";
        src:url("Fonts/5113640/8dd38734-72b8-460c-a073-dee2c1ae269f.eot?#iefix");
        src:url("Fonts/5113640/8dd38734-72b8-460c-a073-dee2c1ae269f.eot?#iefix") format("eot"),url("Fonts/5113640/cce1dccc-8fb1-4740-924e-54ee3b0d0a1e.woff2") format("woff2"),url("Fonts/5113640/c4099f63-93ef-4a2c-b273-7f816e18b436.woff") format("woff"),url("Fonts/5113640/1e4f0fb1-cda2-45b0-b263-5056327d8bb9.ttf") format("truetype");
    }
